
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <%= render 'books/list', newbook: @newbook,user: @user %>
    </div>


    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <thead>
    		<tr>
    			<th>Title</th>
    			<th>Opinion</th>
    		</tr>
    	</thead>

      <% @books.each do |book| %>

        <p><%= image_tag book.user.get_profile_image(100,100) %></p>
        <p>Title : <%= link_to book.title,book_path(book.id)%></p>
        <p>Opinion：<%= book.opinion %></p>
        <p>name：<%= book.user.name %></p>
      <% end %>

    </div>
  </div>
</div>

