<%# books.each do |book| %>
  <head>
    <title>Bookers2</title>
  </head>




<body>
  <h1>User info</h1>
<div>
  <p><%= image_tag user.get_profile_image(100,100) %></p>
  <p>name : <%= user.name %></p>
  <h3>introduction</h3>
  <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
</div>

<h1>New book</h1>
  <%= form_with model: newbook do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :opinion %>
    <div>
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
