<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'books/list', books: @books,user: @user %>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <p>Title：<%= book.title %></p>
  <% end %>

  <p>Opinion：<%= book.opinion %></p>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>name：<%= book.user.name %></p>
</div>
<% end %>
